/* General Styles */

$theme-colors: (
  "primary": #cc3330,
  "secondary": #F4511E,
  "danger": #FFB300,
  "green": #00cc33,
  "info": #039be5,
  "blue": #1c4587
);

html, body {
  scroll-behavior: smooth;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .container-fluid .row {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.btn-fudeso {
  width: 16em;
}

.lead-fudeso {
  font-size: 1.25rem;
  font-weight: 500;
}

.fa-4x{
  margin-bottom: 20px;
}

.titles {
  margin-top: 120px;
  height: 100%;
  min-height: 100vh;
  padding: 4em;
}

.p-fudeso {
  padding-left: 2em !important;
  padding-right: 2em !important;
  text-align: justify;
  font-size: 1.2em;
  margin: 0 auto;
}

.header-fudeso{
  width: 90%;
  min-width: 200px;
  max-width: 850px;
  margin: 1em auto;
  border-radius: 4px;
}

.thumbnail-fudeso {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  margin: 0.5em;
  border-radius: 4px;
}

/* Navbar */
.btn {
  margin: 0.2rem;
  color: #f8f9fa !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.nav-link {
  margin: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.bg {
  background-color: #000000 !important;
}

.dropdown-menu {
  background-color: #000000 !important;
  font-weight: 700 !important;
}

.dropdown-item{
  color: #f8f9fa !important;
  background-color: #222222 !important;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #000000 !important;
  background-color: #f8f9fa !important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #bb0505 !important;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d !important;
}

/* Hero*/
.carousel-item {
  height: 85vh;
  min-height: 350px;
  margin-top: 120px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* About */
#about {
  height: 100%;
  min-height: 100vh;
  padding: 4em;
}

.img-fudeso{
  width: 80%;
  min-width: 200px;
  max-width: 500px;
  margin: 1em auto;
  border-radius: 4px;
}

/* Projects */
#projects {
  height: 100%;
  min-height: 80vh;
  padding: 5em;
}

.img-logo {
  width: 70%;
  min-width: 100px;
  max-width: 150px;
  margin: 1em auto;
}

.projects-row{
  max-width: 80%;
  margin: 0 auto !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

/* Donate */
#donate {
  height: 100%;
  min-height: 100vh;
  padding: 10em 5em 5em 5em;
}

/* ODS Numbers */ 
#ods {
  height: 100%;
  min-height: 80vh;
  padding: 8em 4em 5em 4em;
}

#ods img {
  height: 50px;
  width: 50px;
  margin: 0.5rem;
  border: solid white 2px;
  border-radius: 100%;
  display: inline-block;
}

/* Footer */
footer {
  height: 100%;
  min-height: 10em;
  padding: 1em;
}

footer i{
  margin: 0.5rem;
}

@import "../../node_modules/bootstrap/scss/bootstrap";